<p style="margin-bottom: 0.28cm; line-height: 107%;"><span style="font-family: Arial,serif;"><span style="font-size: large;"><strong>ALLGEMEINE GESCH&Auml;FTSBEDINGUNGEN </strong></span></span></p>
<p style="margin-bottom: 0.28cm; line-height: 107%;"><span style="font-family: Arial,serif;"><span style="font-size: medium;"><strong>von Wido Pf&ouml;st, </strong></span></span><span style="font-family: Arial,serif;"><span style="font-size: medium;"><strong>Bereiteranger 9a, 81541 München, <%= mail_to('contact.cypherapp@gmail.com') %></strong></span></span><span style="font-family: Arial,serif;"><span style="font-size: medium;"><strong><br /><br />f&uuml;r die mobile Applikation &bdquo;CYPHER&ldquo;<br /></strong></span></span><br /><br /></p>
<ol>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;"><strong>Betreiber, Gegenstand, Geltungsbereich</strong></span></p>
</li>
</ol>
<p style="margin-bottom: 0.28cm; line-height: 107%;"><br /><br /></p>
<ol>
<ol>
<li>
<p style='margin-bottom: 0cm; line-height: 100%;'><span style="font-family: Arial,serif;">Die vorliegenden Nutzungsbedingungen (nachstehend &bdquo;</span><span style="font-family: Arial,serif;"><strong>AGB</strong></span><span style="font-family: Arial,serif;">&ldquo;) gelten f&uuml;r die Nutzung der App &bdquo;Cypher&ldquo;, auf der eine interaktive Online -Plattform (nachstehend &bdquo;</span><span style="font-family: Arial,serif;"><strong>Plattform</strong></span><span style="font-family: Arial,serif;">&ldquo;) betrieben wird.</span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;">Die App usowie die Online-Plattform werden bereitgestellt von Wido Pf&ouml;st </span><span style="font-family: Arial,serif;">(Bereiteranger 9a, 81541 München</span> <span style="font-family: Arial,serif;"></span><span style="font-family: Arial,serif;">) (nachstehend &bdquo;</span><span style="font-family: Arial,serif;"><strong>wir</strong></span><span style="font-family: Arial,serif;">&ldquo; bzw. &bdquo;</span><span style="font-family: Arial,serif;"><strong>uns</strong></span><span style="font-family: Arial,serif;">&ldquo;). <br /></span></p>
</li>
</ol>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;"><strong>Leistungen des Betreibers<br /></strong></span></p>
<ol>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;">Wir stellen Nutzern eine App f&uuml;r mobile Endger&auml;te mit den Betriebssystemen Android und iOS zur Verf&uuml;gung.<br /></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;">Auf dieser App stellen wir Nutzern eine Online-Plattform zur Verf&uuml;gung, auf der sie ein Nutzerprofil anlegen und dieses mit ihren Facebook- und Instagram-Profilen verkn&uuml;pfen k&ouml;nnen. Die Plattform erm&ouml;glicht es den Nutzern, andere, f&uuml;r sie interessante Nutzer, in ihrer unmittelbaren Umgebung zu finden, sich deren Profile auf der Plattform selbst und bei Facebook und Instagram anzeigen zu lassen und den Aktivit&auml;ten dieser Personen online zu folgen sowie &uuml;ber Facebook und Instagram mit Ihnen in Kontakt zu treten.<br /></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;">Die Nutzung der Plattform erfordert eine Registrierung des Nutzers mit seinem Facebook-Account.<br /></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;">Die App selbst sowie die Nutzung der Plattform ist kostenfrei. </span></p>
</li>
</ol>
</li>
</ol>
<p style="margin-left: 1.24cm; margin-bottom: 0cm; line-height: 100%;">&nbsp;</p>
<ol start="3">
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;"><strong>Vertragsschluss</strong></span></p>
</li>
</ol>
<p style="margin-left: 1.24cm; margin-bottom: 0.28cm; line-height: 107%;"><span style="font-family: Arial,serif;">. </span></p>
<p style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;">Der Nutzungsvertrag kommt zustande, wenn wir die Registrierung des Nutzers per Email best&auml;tigen oder das Profil des Nutzers auf der Plattform freischalten. <br /></span></p>
<ol start="4">
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;"><strong>Nutzerkonto <br /></strong></span></p>
<ol>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;">Die Registrierung als Nutzer ist nur f&uuml;r unbeschr&auml;nkt gesch&auml;ftsf&auml;hige und in Deutschland wohnhafte nat&uuml;rliche Personen m&ouml;glich.<br /> </span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;">Bei der Registrierung des Nutzerkontos sind richtige und vollst&auml;ndige Angaben zu machen. Daten Dritter d&uuml;rfen ohne deren Einwilligung nicht verwendet werden.<br /></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;">Die Nutzung der Plattform darf nur f&uuml;r private Zwecke erfolgen. Die gewerbliche Nutzung des Nutzerkontos ist unzul&auml;ssig.<br /></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;">Das Nutzerkonto darf nur von dem registrierten Nutzer verwendet werden. Die Verwendung eines Nutzerkontos durch unterschiedliche Personen ist unzul&auml;ssig.<br /></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;">Wir sind berechtigt, die Registrierung von Nutzern ohne Angabe von Gr&uuml;nden abzulehnen.<br /></span></p>
</li>
</ol>
</li>
</ol>
<p style="margin-left: 1.24cm; margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;"><br /></span></p>
<ol start="5">
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;"><strong>Anforderungen an Nutzerbeitr&auml;ge<br /></strong></span></p>
<ol>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;"><u>Rechte Dritter:</u></span><span style="font-family: Arial,serif;"> Es d&uuml;rfen nur</span> <span style="font-family: Arial,serif;">rechtm&auml;&szlig;ige Nutzerbeitr&auml;ge (Profileintr&auml;ge, Mitteilungen, Bewertungen o.&auml;.) auf oder &uuml;ber die Plattform kommuniziert werden. Insbesondere d&uuml;rfen die Nutzerbeitr&auml;ge und/oder deren Einstellung auf der Plattform keine Rechte Dritter (z.B. Namens-, Kennzeichen-, Urheber-, Datenschutz-, Pers&ouml;nlichkeitsrechte usw.) verletzen. Der Nutzer sichert uns zu, dass er &uuml;ber die erforderlichen Rechte f&uuml;r die Einstellung seiner Nutzerbeitr&auml;ge auf der Plattform verf&uuml;gt und Rechte Dritter nicht entgegenstehen. <br /></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;"><u>Sonstige inhaltliche Anforderungen:</u></span><span style="font-family: Arial,serif;"> Die Nutzerbeitr&auml;ge einschlie&szlig;lich des Nutzerprofils und der damit verkn&uuml;pften Facebook- und Instagram -Profile d&uuml;rfen -ob in Bild oder Text- keine Gewaltdarstellungen beinhalten und nicht sexuell anst&ouml;&szlig;ig sein. Sie d&uuml;rfen keine diskriminierenden, beleidigenden, rassistischen, verleumderischen oder sonst rechts- oder sittenwidrigen Aussagen oder Darstellungen beinhalten. Nutzerbeitr&auml;ge einschlie&szlig;lich des Nutzerprofils und der damit verkn&uuml;pften Facebook- und Instagram -Profile d&uuml;rfen keine unzutreffenden Tatsachenbehauptungen oder Schm&auml;hkritik enthalten.<br /></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;"><u>Keine gewerbliche Nutzung:</u></span><span style="font-family: Arial,serif;"> Die gewerbliche Nutzung der Plattform ist unzul&auml;ssig. Unzul&auml;ssig ist ferner auch jede Nutzung, die der Begr&uuml;ndung oder Aus&uuml;bung einer selbst&auml;ndigen oder freiberuflichen T&auml;tigkeit dient.<br /></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;"><u>Keine Nutzung zu Werbezwecken:</u></span><span style="font-family: Arial,serif;"> Die Nutzung der Plattform zu Werbezwecken oder zum Zwecke der Gesch&auml;ftsanbahnung ist nicht zul&auml;ssig</span><span style="font-family: Arial,serif;"><u>.<br /><br /></u></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;"><u>Haftungsfreistellung</u></span><span style="font-family: Arial,serif;">: Der Nutzer stellt uns von allen Anspr&uuml;chen Dritter frei, die aus seinen Nutzerbeitr&auml;gen resultieren. Dies gilt auch f&uuml;r Rechtsanwalts- und Gerichtskosten, die wir aufwenden m&uuml;ssen, um die gegen uns geltend gemachten Anspr&uuml;che abzuwehren</span><span style="font-family: Arial,serif;"><u>.<br /></u></span></p>
</li>
</ol>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-size: xx-small;"><span style="font-family: Arial,serif;"><span style="font-size: small;"><strong>Sperrung von Nutzerbeitr&auml;gen</strong></span></span></span> <span style="font-family: Arial,serif;"><strong>und Ausschluss von Nutzern<br /></strong></span></p>
<ol>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;">Erhalten wir Kenntnis von einer m&ouml;glichen Rechtsverletzung durch einen Nutzerbeitrag einschlie&szlig;lich des Nutzerprofils und der damit verkn&uuml;pften Facebook- und Instagram -Profile, so sind wir berechtigt, den entsprechenden Nutzerbeitrag bis zur endg&uuml;ltigen Kl&auml;rung der Sach- und Rechtslage zu sperren und/ oder zu l&ouml;schen.<br /></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><a name="_GoBack"></a> <span style="font-family: Arial,serif;">Der Betreiber kann ferner Nutzer aus wichtigem Grund mit sofortiger Wirkung von der Nutzung der Plattform ausschlie&szlig;en. <br /></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;">Ein Ausschluss von der Nutzung der Plattform aus wichtigem Grund im Sinne von Ziffer 6.2. erfolgt insbesondere bei einem Versto&szlig; gegen die unter Ziffer 5 genannten Nutzungsregelungen.<br /><br /></span></p>
</li>
</ol>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;"><strong>K&uuml;ndigung<br /></strong></span></p>
<ol>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;">Der Nutzungsvertrag f&uuml;r die Plattform kann von beiden Seiten jederzeit ohne Einhaltung einer K&uuml;ndigungsfrist gek&uuml;ndigt werden.</span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;">Das Nutzerkonto kann jederzeit gel&ouml;scht werden. </span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;">Die L&ouml;schung des Kundenkontos gilt als K&uuml;ndigung des Nutzungsvertrags.<br /><br /></span></p>
</li>
</ol>
</li>
</ol>
<p style="margin-left: 1.25cm; margin-bottom: 0cm; line-height: 100%;">&nbsp;</p>
<ol start="8">
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Times New Roman,serif;"><span style="font-size: medium;"><span style="font-family: Arial,serif;"><span style="font-size: small;"><strong>Haftungsausschl&uuml;sse und Haftungsbeschr&auml;nkungen</strong></span></span></span></span></p>
</li>
</ol>
<p style="margin-left: 1.25cm; margin-bottom: 0cm; line-height: 100%;">&nbsp;</p>
<ol>
<ol>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Times New Roman,serif;"><span style="font-size: medium;"><span style="font-family: Arial,serif;"><span style="font-size: small;">Wir haften &ndash; gleich aus welchem Rechtsgrund &ndash; unbeschr&auml;nkt nach den gesetzlichen Bestimmungen f&uuml;r Sch&auml;den an Leben, K&ouml;rper und Gesundheit, die auf einer fahrl&auml;ssigen oder vors&auml;tzlichen Pflichtverletzung durch uns, unsere gesetzlichen Vertreter oder Erf&uuml;llungsgehilfen beruhen, f&uuml;r Sch&auml;den, die wir oder unsere gesetzlichen Vertreter oder Erf&uuml;llungsgehilfen vors&auml;tzlich oder grobfahrl&auml;ssig verursacht haben, sowie f&uuml;r das Fehlen zugesicherter oder garantierter Eigenschaften der vertraglichen Leistung.<br /></span></span></span></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Times New Roman,serif;"><span style="font-size: medium;"><span style="font-family: Arial,serif;"><span style="font-size: small;">Wenn wir durch leichte Fahrl&auml;ssigkeit mit unserer vertraglichen Leistung in Verzug geraten sind, wenn unsere vertragliche Leistung infolge leichter Fahrl&auml;ssigkeit unm&ouml;glich geworden ist oder wenn wir leicht fahrl&auml;ssig eine vertragswesentliche Pflicht verletzt haben, so ist die Haftung f&uuml;r darauf zur&uuml;ckzuf&uuml;hrende Sch&auml;den des Nutzers auf den vorhersehbaren, vertragstypisch eintretenden Schaden beschr&auml;nkt.<br /></span></span></span></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Times New Roman,serif;"><span style="font-size: medium;"><span style="font-family: Arial,serif;"><span style="font-size: small;">Eine weitergehende Haftung, gleich aus welchem Rechtsgrund, ist ausgeschlossen. <br /></span></span></span></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Times New Roman,serif;"><span style="font-size: medium;"><span style="font-family: Arial,serif;"><span style="font-size: small;">Soweit Schadensersatzanspr&uuml;che gegen uns ausgeschlossen oder beschr&auml;nkt sind, gilt dies auch im Hinblick auf die pers&ouml;nliche Haftung unserer gesetzlichen Vertreter, und Erf&uuml;llungsgehilfen.<br /> </span></span></span></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Times New Roman,serif;"><span style="font-size: medium;"><span style="font-family: Arial,serif;"><span style="font-size: small;">Die Haftung nach dem Produkthaftungsgesetz bleibt von den vorstehenden Haftungsausschl&uuml;ssen und Haftungsbeschr&auml;nkungen unber&uuml;hrt<br /></span></span></span></span></p>
</li>
</ol>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Times New Roman,serif;"><span style="font-size: medium;"><span style="font-family: Arial,serif;"><span style="font-size: small;"><strong>Technische Verf&uuml;gbarkeit des Systems<br /></strong></span></span><span style="font-family: Arial,serif;"><span style="font-size: small;"><br /></span></span></span></span></p>
<ol>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Times New Roman,serif;"><span style="font-size: medium;"><span style="font-family: Arial,serif;"><span style="font-size: small;">Wir sind zur Abschaltung der Plattform zu Zwecken der Aktualisierung, Systempr&uuml;fung und Systemwartung berechtigt. Der Nutzer willigt in alle aus technischen Gr&uuml;nden erforderlichen oder nutzbringenden Abschaltungen ein, auch wenn sie unangek&uuml;ndigt oder mit kurzfristiger Ank&uuml;ndigung erfolgen.<br /></span></span></span></span></p>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Times New Roman,serif;"><span style="font-size: medium;"><span style="font-family: Arial,serif;"><span style="font-size: small;">Wir stehen nicht für Ausfallzeiten der Plattform aufgrund höherer Gewalt sowie bei Energie- oder Rohstoffmangel, Unterbrechung der Energiezufuhr, Arbeitskämpfen, behördlichen oder hoheitlichen Ma&szlig;nahmen ein.<br /><br /></span></span></span></span></p>
</li>
</ol>
</li>
<li>
<p style="margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Times New Roman,serif;"><span style="font-size: medium;"><strong><span style="font-family: Arial,serif;"><em>Verbraucherschlichtung, Information gem&auml;&szlig; &sect; 36 VSBG<br /></em></span></strong></span></span></p>
</li>
</ol>
<p style="margin-left: 1.24cm; margin-bottom: 0.28cm; line-height: 107%;"><span style="font-family: Arial,serif;"><em><strong>Wir sind</strong></em></span> <em><span style="font-family: Arial,serif;"><strong>weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</strong></span></em></p>
<p style="margin-bottom: 0cm; line-height: 100%;">&nbsp;</p>
<p style="margin-left: 1.24cm; margin-bottom: 0.28cm; line-height: 107%;" align="justify"><br /><br /></p>
<p style="margin-left: 1.24cm; margin-bottom: 0cm; line-height: 100%;"><span style="font-family: Arial,serif;"><strong><br /></strong></span></p>
<p style="margin-bottom: 0cm; line-height: 100%;">&nbsp;</p>
